*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{

	/*for dark mode*/
/*  --header-background: #212121;
  --input-search-field: #f0f0f0;
  --input-field-color:#000;
  --main-content-dark : #141414;
  --selected-background-color: #414141;
  --dark-mode-text-color: #cfcfcf;
  --font-size-main-content-title: 1rem;*/

	/*for light mode*/ 
    --header-background: #f5f5f5;
    --input-search-field: #e5e5e5;
    --input-field-color: #000;
    --main-content-dark: #f2f2f2;
    --selected-background-color: #e4e4e4;
    --dark-mode-text-color: #111;
    --font-size-main-content-title: 1rem;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--input-search-field);
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

img {
  max-width: 100%;
}

span {
  vertical-align: top;
}

h3 {
  font-size: 14px;
}

a{
  text-decoration: none;
  color:  var(--dark-mode-text-color);
}

/*--bootstrap my version--*/


.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width:576px) {
  .container,
  .container-sm {
    max-width: 540px
  }
}

@media (min-width:768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px
  }
}

@media (min-width:992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px
  }
}

@media (min-width:1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px
  }
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
  padding-right: 0;
  padding-left: 0
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%
}

.row-cols-1>* {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%
}

.row-cols-2>* {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%
}

.row-cols-3>* {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%
}

.row-cols-4>* {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%
}

.row-cols-5>* {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%
}

.row-cols-6>* {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%
}

.order-first {
  -ms-flex-order: -1;
  order: -1
}

.order-last {
  -ms-flex-order: 13;
  order: 13
}

.order-0 {
  -ms-flex-order: 0;
  order: 0
}

.order-1 {
  -ms-flex-order: 1;
  order: 1
}

.order-2 {
  -ms-flex-order: 2;
  order: 2
}

.order-3 {
  -ms-flex-order: 3;
  order: 3
}

.order-4 {
  -ms-flex-order: 4;
  order: 4
}

.order-5 {
  -ms-flex-order: 5;
  order: 5
}

.order-6 {
  -ms-flex-order: 6;
  order: 6
}

.order-7 {
  -ms-flex-order: 7;
  order: 7
}

.order-8 {
  -ms-flex-order: 8;
  order: 8
}

.order-9 {
  -ms-flex-order: 9;
  order: 9
}

.order-10 {
  -ms-flex-order: 10;
  order: 10
}

.order-11 {
  -ms-flex-order: 11;
  order: 11
}

.order-12 {
  -ms-flex-order: 12;
  order: 12
}

.offset-1 {
  margin-left: 8.333333%
}

.offset-2 {
  margin-left: 16.666667%
}

.offset-3 {
  margin-left: 25%
}

.offset-4 {
  margin-left: 33.333333%
}

.offset-5 {
  margin-left: 41.666667%
}

.offset-6 {
  margin-left: 50%
}

.offset-7 {
  margin-left: 58.333333%
}

.offset-8 {
  margin-left: 66.666667%
}

.offset-9 {
  margin-left: 75%
}

.offset-10 {
  margin-left: 83.333333%
}

.offset-11 {
  margin-left: 91.666667%
}

@media (min-width:576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
  }
  .row-cols-sm-1>* {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
  .row-cols-sm-2>* {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .row-cols-sm-3>* {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  .row-cols-sm-4>* {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
  .row-cols-sm-5>* {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
  }
  .row-cols-sm-6>* {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
  .order-sm-first {
    -ms-flex-order: -1;
    order: -1
  }
  .order-sm-last {
    -ms-flex-order: 13;
    order: 13
  }
  .order-sm-0 {
    -ms-flex-order: 0;
    order: 0
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12
  }
  .offset-sm-0 {
    margin-left: 0
  }
  .offset-sm-1 {
    margin-left: 8.333333%
  }
  .offset-sm-2 {
    margin-left: 16.666667%
  }
  .offset-sm-3 {
    margin-left: 25%
  }
  .offset-sm-4 {
    margin-left: 33.333333%
  }
  .offset-sm-5 {
    margin-left: 41.666667%
  }
  .offset-sm-6 {
    margin-left: 50%
  }
  .offset-sm-7 {
    margin-left: 58.333333%
  }
  .offset-sm-8 {
    margin-left: 66.666667%
  }
  .offset-sm-9 {
    margin-left: 75%
  }
  .offset-sm-10 {
    margin-left: 83.333333%
  }
  .offset-sm-11 {
    margin-left: 91.666667%
  }
}

@media (min-width:768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
  }
  .row-cols-md-1>* {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
  .row-cols-md-2>* {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .row-cols-md-3>* {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  .row-cols-md-4>* {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
  .row-cols-md-5>* {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
  }
  .row-cols-md-6>* {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
  .order-md-first {
    -ms-flex-order: -1;
    order: -1
  }
  .order-md-last {
    -ms-flex-order: 13;
    order: 13
  }
  .order-md-0 {
    -ms-flex-order: 0;
    order: 0
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12
  }
  .offset-md-0 {
    margin-left: 0
  }
  .offset-md-1 {
    margin-left: 8.333333%
  }
  .offset-md-2 {
    margin-left: 16.666667%
  }
  .offset-md-3 {
    margin-left: 25%
  }
  .offset-md-4 {
    margin-left: 33.333333%
  }
  .offset-md-5 {
    margin-left: 41.666667%
  }
  .offset-md-6 {
    margin-left: 50%
  }
  .offset-md-7 {
    margin-left: 58.333333%
  }
  .offset-md-8 {
    margin-left: 66.666667%
  }
  .offset-md-9 {
    margin-left: 75%
  }
  .offset-md-10 {
    margin-left: 83.333333%
  }
  .offset-md-11 {
    margin-left: 91.666667%
  }
}

@media (min-width:992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
  }
  .row-cols-lg-1>* {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
  .row-cols-lg-2>* {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .row-cols-lg-3>* {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  .row-cols-lg-4>* {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
  .row-cols-lg-5>* {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
  }
  .row-cols-lg-6>* {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
  .order-lg-first {
    -ms-flex-order: -1;
    order: -1
  }
  .order-lg-last {
    -ms-flex-order: 13;
    order: 13
  }
  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12
  }
  .offset-lg-0 {
    margin-left: 0
  }
  .offset-lg-1 {
    margin-left: 8.333333%
  }
  .offset-lg-2 {
    margin-left: 16.666667%
  }
  .offset-lg-3 {
    margin-left: 25%
  }
  .offset-lg-4 {
    margin-left: 33.333333%
  }
  .offset-lg-5 {
    margin-left: 41.666667%
  }
  .offset-lg-6 {
    margin-left: 50%
  }
  .offset-lg-7 {
    margin-left: 58.333333%
  }
  .offset-lg-8 {
    margin-left: 66.666667%
  }
  .offset-lg-9 {
    margin-left: 75%
  }
  .offset-lg-10 {
    margin-left: 83.333333%
  }
  .offset-lg-11 {
    margin-left: 91.666667%
  }
}

@media (min-width:1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
  }
  .row-cols-xl-1>* {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
  .row-cols-xl-2>* {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .row-cols-xl-3>* {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  .row-cols-xl-4>* {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
  .row-cols-xl-5>* {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%
  }
  .row-cols-xl-6>* {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
  }
  .order-xl-first {
    -ms-flex-order: -1;
    order: -1
  }
  .order-xl-last {
    -ms-flex-order: 13;
    order: 13
  }
  .order-xl-0 {
    -ms-flex-order: 0;
    order: 0
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12
  }
  .offset-xl-0 {
    margin-left: 0
  }
  .offset-xl-1 {
    margin-left: 8.333333%
  }
  .offset-xl-2 {
    margin-left: 16.666667%
  }
  .offset-xl-3 {
    margin-left: 25%
  }
  .offset-xl-4 {
    margin-left: 33.333333%
  }
  .offset-xl-5 {
    margin-left: 41.666667%
  }
  .offset-xl-6 {
    margin-left: 50%
  }
  .offset-xl-7 {
    margin-left: 58.333333%
  }
  .offset-xl-8 {
    margin-left: 66.666667%
  }
  .offset-xl-9 {
    margin-left: 75%
  }
  .offset-xl-10 {
    margin-left: 83.333333%
  }
  .offset-xl-11 {
    margin-left: 91.666667%
  }
}

/*my version bs4 end*/
.selected {
  background-color: var(--selected-background-color);
}

.header, .header1 {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  justify-content: space-between;
  padding: 0 8px;
  height: 56px;
  background: var(--header-background);
  z-index: 1;
}
.header1
{
  position: fixed;
  top: -100px;
}

.header-center1
{
  width: 100%;
  position: relative;
  left: 10px
}

@media only screen and (min-width: 656px) {
  .header {
    padding: 0 16px;
  }
  .header1
  {
    position: absolute;
    top: -100px;
  }

  :root
  {
  	--font-size-main-content-title: 1.5rem;
  }
}

.header-start {
  display: flex;
  align-items: center;
}
.header-start .icon, .header-start .logo, .header-start .avatar {
  margin-right: -4px;
}
@media only screen and (min-width: 656px) {
  .header-start .icon, .header-start .logo, .header-start .avatar {
    margin-right: -1px;
  }
  #menu_icon,.mobile-wide-nav
  {
    display: block;
  }
}

.header-center {
  display: none;
  flex-grow: 1;
}
@media only screen and (min-width: 656px) {
  .header-center,.header-center1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header-end {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 656px) {
  .header-end > :first-child {
    display: none;
  }
  .header1
  {
    display: none;
  }
  .video-thumbnail
  {
    background-size: 100% 100%;
    height: 210px;
    background-repeat: no-repeat;
  }
}
.header-end .avatar {
  padding: 0 6px;
}
.overlay_nav
{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0; 
  right: 0;
  z-index: 99;
  display: none;
}

.mobile-wide-nav
{
  display: block;
  position: fixed;
  height: 100vh;
  top: 0;
  background-color: var(--header-background);
  left: -500px;
  transition: .2s ease-in-out all;
  overflow-y: scroll;
  overflow-x: hidden;
}
.nav, .narrow-nav, .wide-nav {
  display: none;
  position: fixed;
  height: calc(100vh - 56px);
  top: 56px;
  background-color: var(--header-background);
  left: 0;
}

.narrow-nav {
  width: 72px;
}
@media only screen and (min-width: 808px) {
  .narrow-nav {
    display: block;
  }
  #menu_icon,.overlay_nav,.mobile-wide-nav
  {
    display: none;
  }
  :root
  {
  	--font-size-main-content-title: 1.5rem;
  }
}
@media only screen and (min-width: 1330px) {
  .narrow-nav {
    display: none;
  }

  #menu_icon
  {
    display: none;
  }
  :root
  {
  	--font-size-main-content-title: 1.5rem;
  }
}

.nav-section {
  padding: 12px 0;
  border-bottom: 1px solid #414141;
}

.nav-section-header {
  padding: 8px 24px;
  text-transform: uppercase;
  color: var(--dark-mode-text-color);
}

.wide-nav,.mobile-wide-nav {
  width: 240px;
}
@media only screen and (min-width: 1330px) {
  .wide-nav {
    display: block;
  }
  .mobile-wide-nav
  {
    display: none;
  }
}
.wide-nav .icon, .wide-nav .logo, .wide-nav .avatar {
  padding: 0;
}
.wide-nav:hover {
  overflow: overlay;
}

.wide-nav-item {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 24px;
}
.wide-nav-item:hover {
  background: rgba(0, 0, 0, 0.05);
}
.wide-nav-item .icon, .wide-nav-item .logo, .wide-nav-item .avatar {
  margin-right: 24px;
}
.wide-nav-item .avatar {
  width: 24px;
  height: 24px;
}
.wide-nav-item .notification-icon {
  width: 16px;
  height: 16px;
  margin-left: auto;
  fill: red;
}

.text-overflow, .text-overflow-double-line, .video-title, .wide-nav-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-overflow-double-line, .video-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.wide-nav-label {
  max-width: 128px;
  font-size: 14px;
  color: var(--dark-mode-text-color);
}

.icon, .logo, .avatar {
  box-sizing: content-box;
  width: 24px;
  height: 24px;
  padding: 8px;
  fill: var(--dark-mode-text-color);
  color: var(--dark-mode-text-color);
  overflow: hidden;
  font-size: 19px;
}

.logo {
  width: 127px;
  margin-top: 4px;
}

.avatar {
  box-sizing: content-box;
  width: 32px;
  height: 32px;
}
.avatar img {
  border-radius: 50%;
  height: 100%;
  object-fit: cover;
}

.cursor-pointer, .wide-nav-item, .icon, .logo, .avatar, .input-search-button, .narrow-nav-item, .video-item {
  cursor: pointer;
}

.header1 .input-search-box
{
  line-height: 50px;
  position: absolute;
  right: 25px;
}
.input-search-box {
  display: flex;
  height: 32px;
  width: 80%;
  max-width: 648px;
}

.header1 .input-wrap
{
   width: calc(100vw - 15px);
}

.input-wrap {
  width: calc(100% - 65px);
  border-radius: 2px 0 0 2px;
}


.input-search {
    width: 106%;
    height: 100%;
    border: none;
    background: var(--input-search-field);
    padding: 7px;
    color: var(--input-field-color);
    top: 10.42px;
}
.input-search:focus,.input-search-button:focus {
  outline: none;
}

.header1 .input-search-button
{
  position: relative;
  top: 9px;
  height: 34px;
  left: 11px;
}

.input-search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 65px;
  background: var(--selected-background-color);
  border: none;
}
.input-search-button .icon, .input-search-button .logo, .input-search-button .avatar {
  margin: 0;
  width: 20px;
  height: 20px;
  padding: 1px 6px;
}
.input-search-button .icon svg, .input-search-button .logo svg, .input-search-button .avatar svg {
  fill: #616161;
}

.narrow-nav-list {
  list-style-type: none;
}
.narrow-nav-list .icon, .narrow-nav-list .logo, .narrow-nav-list .avatar {
  padding: 0;
  margin-bottom: 6px;
}

.narrow-nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 74px;
  padding: 16px 0 14px;
}
.narrow-nav-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.narrow-nav-label {
  font-size: 10px;
  color: var(--dark-mode-text-color);
}
@media only screen and (max-width: 300px)
{
	#gmaillogin_hide_on_300px_less_than,.header-start #menu_icon,.header-end .icon[title='Upload']
	{
		display: none;
	}

	:root{
  		--font-size-main-content-title: 1rem;
 	}

 	.header1 .input-search {
 		position: absolute;
	    left: -22px;
	    width: 105%;
 	}	
 	.header1 .input-search-button {
	    left: 18px;
	    height: 33px;
	}
	
	.header-start .logo h4
	{
	    font-size: 14px;
	    line-height: 21px;
	}
	.icon, .logo, .avatar {
		padding: 4px;
	}

	
}
.news-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #065fd4;
  margin: 0 6px;
  margin-left: auto;
}

.separator-dot {
  margin: 0 4px;
}

.footer-section {
  padding: 16px 24px 0;
}
.footer-section .footer-item {
  font-size: 12px;
  text-decoration: none;
  white-space: nowrap;
  color: var(--dark-mode-text-color);
  margin-right: 8px;
}

.copyright {
  font-size: 12px;
  padding: 16px 24px;
  color: var(--dark-mode-text-color);
}

.app
{
  background: var(--main-content-dark);
  margin-top: 56px;
  min-height: calc(100vh - 56px);
  position: relative;
}
.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: minmax(240px, auto);
  gap: 16px;
  justify-content: center;
}

#main_c_mv
{
	display: flex;
    overflow-x: scroll;
    width: 94vw;
    padding-left: 10px;
    margin-left: 10px;
    justify-content: flex-start;
}
#main_c_mv::-webkit-scrollbar{display: none;}

.item_video_mb .mobile_view_thumbnail
{
	height: 113px;
    width: 172px;
}

@media only screen and (min-width: 808px) {
  .app {
    margin-left: 72px;
  }
  .main-content {
  	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(149px, 275px));
  }
 	
 	#main_c_mv
	{
		display: grid;
		width:100%;
	}
}

@media only screen and (min-width: 1024px)
{
	.main-content {
		display: grid;
	    grid-template-columns: repeat(auto-fit, minmax(222px, 275px));
	}
	#main_c_mv
	{
		display: grid;
		width:100%;
		padding-left: 0;
		margin-left: 0;
		overflow-x: unset;
		justify-content: center;
	}
}
@media only screen and (min-width: 1330px) {
  .app{
    margin-left: 240px;
    position: relative; 
    z-index: 0;
  }
  .main-content {
  	display: grid;
     grid-template-columns: repeat(auto-fit, minmax(240px, 301px));
  }
  #main_c_mv
	{
		display: grid;
		width:100%;
	}
}

.video-thumbnail {
  background-size: 100% 100%;
  height: 280px;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 300px)
{
	.video-thumbnail {
	  background-size: 100% 100%;
	  height: 180px;
	  background-repeat: no-repeat;
	}
}	
@media only screen and (min-width: 808px) {
  .video-thumbnail
  {
   background-size: 100% 100%;
   height: 150px;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1330px) {
 .video-thumbnail
  {
    background-size: 100% 100%;
    height: 168px;
    background-repeat: no-repeat;
  }
}

.video-footer-head {
  display: flex;
}

.video-description {
  font-size: 14px;
  color: #616161;
}

.author {
  display: flex;
  align-items: center;
}
.author .icon, .author .logo, .author .avatar {
  width: 12px;
  height: 12px;
  padding: 0 4px;
  color: #616161;
}

.video-title {
  max-width: 60ch;
  color: var(--dark-mode-text-color);
  margin-bottom: 4px;
}

.video-footer {
  display: flex;
  margin-top: 12px;
  padding: 0 10px;
}
.video-footer .avatar {
  padding: 0;
  margin-right: 12px;
  flex: 0 0 36px;
  height: 36px;
  margin-right: 12px;
}

.sign_btn
{
  padding: 10px;
  border: 1px solid #3ea6ff;
  color: #3ea6ff;
  height: 34px;
  line-height: 14px;
  font-size: 13px;
  letter-spacing: 1px;
}

.icon i
{
  position: relative;
  left: 6px;
}

.icon a
{
  color: #fff;
}

@media only screen and (min-width: 543px) {
  .app
  {
    padding: 24px;
  }
}

.abcRioButtonContentWrapper
{
    background: var(--header-background);
    color: var(--dark-mode-text-color);
}

.profile_dropdown
{
  position: fixed;
  top: 0;
  right: 60px;
  width: 250px;
  height: auto;
  overflow: hidden;
  border: 1px solid var(--selected-background-color);
  display: none;
  z-index: 26;
}
@media only screen and (max-width: 300px) {

.profile_dropdown
	{
		right: 5px;
		top: 54px;
	}
}
.top_profile
{
  background-color: var(--header-background);
  border-bottom: 1px solid var(--selected-background-color);
  padding: 19px;
}

.top_profile #profile_dropdown_picture
{
  position: absolute;
  top: -2px;
  left: 2px;
}

.profile_details
{
  color: var(--dark-mode-text-color); 
}

.profile_details .my_name, 
.profile_details .my_email
{
  font-size: 14px;
  padding-bottom: 5px;
}

.profile_details a
{
  color: #3EA6FF;
  font-size: 12px;
}

.bottom_profile
{
  height: 164px;
  color: var(--dark-mode-text-color);
  background-color: var(--header-background); 
  overflow-x: hidden;
}

.list_item_profile
{
  color: var(--dark-mode-text-color);
  padding: 10px;
}

.list_item_profile:hover
{
  background-color: var(--selected-background-color);
  color: var(--dark-mode-text-color);
}

.list_item_profile i
{
  font-size: 17px;
}

.main-content-title
{
	color: var(--dark-mode-text-color);padding: 18PX 12PX;letter-spacing: .5px;font-size: var(--font-size-main-content-title);
}

.project_footer
{
	padding: 10px;
}

.project_footer .top_title
{
	color: var(--dark-mode-text-color);
	font-size: var(--font-size-main-content-title);
}

.like_dislike_ratio
{
  line-height: 42px;
  display: flex;
}

.social_like_dislike_all{
    display: flex;
    line-height: 20px;
    padding: 0px;
    position: absolute;
    top: -13px;
    right: -19px;
}

.social_like_dislike_all a
{
  padding: 10px;
  color: var(--dark-mode-text-color);
  font-size: 1rem;
  padding-left: 23px;
  font-weight: 100
}

.social_like_dislike_all span
{
  vertical-align: top;
  color: var(--dark-mode-text-color);
  font-size: 0.8rem;
  font-weight: 100
}

#app
{
  margin-left: 0;
  padding: 21px;
}

.subscribe_button
{
    position: absolute;
    right: 35px;
    background: red;
    color: #fff;
    padding: 10px;
    height: 35px;
    line-height: 6px;
    font-size: 10px;
    outline: none;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}